<% if whiteboard.edit == true %>
  <button id="whiteboardblock" disabled><span class="ui-button-text">It is being edited</span></button>

<% else %>
  <button id="whiteboardchange">EDIT</button>
<% end %>
