
<style>
body
{
background-image:url('/bgpic.jpg');
background-repeat:no-repeat;
background-size: cover;
}
</style>


<div style="text-align:center">
  <div class="row">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>팀방 들어가기</h1>
          <% @team.each do |team| %>
            <form action ="/chat/show" method="get">
              <input type="hidden" name="team" value=<%=team.id%>>
              <button type="submit" class="btn btn-default"><%=team.teamname%></button>
            </form>
            <form action="/team/deletemember" method="post">
              <input type="hidden" name="team" value="<%=team.id%>">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              <input type="submit">
            </form>

          <% end %>
          <a class="btn btn-link" href="team/newteam" role="button">새로운 팀 만들기</a>
        </div>
      </div>
    </div>
  </div>
</div>
