
<style>
body
{
background-image:url('/bgpic.jpg');
background-repeat:no-repeat;
background-size: cover;
}
</style>


<div style="text-align:center">
  <div class="row">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>팀방 들어가기</h3>
          <p>왼쪽 상단메뉴에서 팀 고르기를 눌러주세요!</p>
        </div>
      </div>
    </div>
  </div>
</div>
