<style>
body
{
background-image:url('/bgpic.jpg');
background-repeat:no-repeat;
background-size: cover;
}
</style>


<div style="text-align:center">
  <div class="row">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>기존의 팀에 초대되려면 기존 팀 멤버로부터 초대를 받아야 합니다.</h3>
          <a class="btn btn-link" href="/">돌아가기</a>
        </div>
      </div>
    </div>
  </div>
</div>