<style>
body
{
background-image:url('/bgpic.jpg');
background-repeat:no-repeat;
background-size: cover;
}
</style>


<div style="text-align:center">
  <div class="row">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>팀 만들기</h3>
          <form class="form-inline" action="/team/create" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

            <div class="form-group">
              <input type="text" class="form-control" name="teamname" placeholder="팀 이름" required>
            </div>
            <button type="submit" class="btn btn-new">팀 만들기</button>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>